h3 Data sources
p 
  small This dataset used in this app was sourced from a combination of forum guides and spreadsheets. The app and dataset are a work in progress - for any errors or improvements, submit an issue or pull request to the 
    a(href='https://github.com/tamarasaurus/divinity-crafting') Github page
    | , or email me at&nbsp;
    a(href='mailto:tamarasaurus@gmail.com') tamarasaurus@gmail.com
h4 Credits
ul  
  li
    small
      a(href='http://www.reddit.com/r/DivinityOriginalSin/comments/29rlwx/crafting_guide/') Crafting Guide - Ashidoku
  li
    small
      a(href='http://steamcommunity.com/app/230230/discussions/4/522730702195328107/') All crafting / cooking recipes - eidolon232
  li
    small
      a(href='http://www.larian.com/forums/ubbthreads.php?ubb=showflat&Number=506826&page=1') Crafting Recipes - Angry Dave
  li
    small
      a(href='https://docs.google.com/file/d/0B_fs99UGk4Q_czRyMDRxb0lBdWM/edit') Main Item Combos - Patrick Sylvester-Jose
  li
    small
      a(href='http://www.larian.com/forums/ubbthreads.php?ubb=showflat&Number=524643') Crafting Recipes &amp; Guide - ivra
  li
    small
      a(href='https://docs.google.com/file/d/0B2BGWRFwPJkuS0Y2WUxHUXpEdFk/edit') Raw Craft List - Venseer
      

h5 By Tamara Chahine 
  a(href='https://github.com/tamarasaurus/') (tamarasaurus)