doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Crafting guide for Divinity: Original Sin
    body
        main
        script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.1.min.js")
        script(src="index.js")
